* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.input_wrapper {
    display: flex;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.371);
    border-radius: 2rem ;
    justify-content: space-evenly;
    width: 50%;
    padding: 0.4rem;
    margin-right: 18rem;
    margin-left: -6rem;
}

.input_wrapper input {
    border: none;
    outline: none;
    border-radius: 0;
    margin-left: 1rem;
    font-size: 1rem;
    width: 70%;
}

.input_wrapper i {
    justify-content: space-evenly;
}

.input_wrapper button{
    border-radius: none;
    border: none;
    background: none;
    font-size: 1.2rem;
}

.left { 
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.left button i {
    font-size: 1.4rem;
    padding-right: 1rem;
}

.left button {
    border: none;
    border-radius: none;
    justify-self: space-evenly;
    background: none;
}

.left button:hover {
    background-color: rgba(128, 128, 128, 0.049);
    border-radius: 100px;
}

.google {
     width: 50%;
     justify-self: flex-start;
     margin-left: -1rem;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1.5rem;
    overflow: hidden;
    top: 0;
}

.my_profile { 
    border-radius: 100px;
}

.subnav a {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.566);
    text-decoration: none;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.subnav a i {
    padding-right: 0.6rem;
}

.subnav {
    display: flex;
    align-items: center;
    padding-left: 11rem;
    margin-top:1rem ;
}

.subnav .one {
    text-decoration: underline;
    text-underline-offset: 7px ;
    text-decoration-thickness: 0.1rem;
}

.search_time {
    margin-top: 1rem;
    padding-left:12rem ;
    color: rgba(0, 0, 0, 0.566);
    margin-bottom: 1.5rem;
}

.profile img {
    width: 40%;
    border-radius: 10px;
    
}

.profile button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.564);
}

.profile button {
    padding: 0.8rem 1.1rem;
    border-radius: 20px;
    margin-left: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.438);
}

.profile .part_3 {
    display: flex;
}

.profile { 
    display: flex;
    align-items: center;
    padding-left: 12rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    padding-bottom: 1rem;
}

.profile .part_2a {
    display: flex;
    padding-top: 1rem;
}

.profile .part_2a p {
    padding-right: 2rem;
}

.profile .part_2 h3{
font-weight: 100;
font-size: 1.5rem;
margin-top:-0.9rem;
}

.profile .part_2 {
    margin-left: -2.5rem;
}

.notice {
    padding-left: 16rem;
    font-size: 1.2rem;
    color: red;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.notice a {
    text-decoration: none;
}

.notice a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

.lionel_messi {
    display: flex;
    padding-left: 16rem;
}

.lionel_messi img {
    margin-left: 0.2rem;
    border-radius: 4px;
}

.lead {
    padding-left: 16rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.material1 .material1a {
    display: flex;
    padding-bottom: 0.3rem;
}

.material1 .material1a h6{
    padding-left: 0.8rem;
}
.material1 .material1a a{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: 100;
}

.material1 .material1b {
    display: flex;
    padding-bottom: 0.5rem;
}

.material1 .material1b a{
    width: 30%;
    margin-bottom: 0.6rem;
    text-decoration: none;
}

.material1 .material1b a:hover {
    text-decoration: underline;
}

.material1 .material1b p{
    padding-bottom: 1.3rem;
}

.material1 .material1b img {
    border-radius: 15px; 
    margin-top: -1.3rem; 
}

.materials {
    display: flex;
    width: 65%;
    margin-left: 16rem;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
    padding: 0.5rem 0;
}

.materials .section1 {
    width: 60%;
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.363);
}

.materials .material1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.363) ;
}

.materials .section2 {
    width: 60%;
    padding-left: 1rem;
}

.material2 .material2a {
    display: flex;
    padding-bottom: 0.3rem;
}

.material2 .material2a h6{
    padding-left: 0.8rem;
}
.material2 .material2a a{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: 100;
}

.material2 .material2b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;

}

.material2 .material2b a{
    width: 30%;
    text-decoration: none;
}

.material2 .material2b a:hover {
    text-decoration: underline;
}

.material2 .material2b img {
    border-radius: 15px;
    margin-top: -1.3rem;
}

.materials .material2 {
    padding-top: 0.5rem;
}

.material3 .material3a {
    display: flex;
    padding-bottom: 0.3rem;
}

.material3 .material3a h6{
    padding-left: 0.8rem;
}
.material3 .material3a a{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: 100;
}

.material3 .material3b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.7rem;
}

.material3 .material3b a{
    width: 30%;
    text-decoration: none;
}

.material3 .material3b a:hover {
    text-decoration: underline;
}

.material3 .material3b iframe {
    border-radius: 5px;
    margin-top: -1.3rem;
}

.material4 .material4a {
    display: flex;
    padding-bottom: 0.3rem;
}

.material4 .material4a h6{
    padding-left: 0.8rem;
}
.material4 .material4a a{
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    font-weight: 100;
}

.material4 .material4b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material4 .material4b a{
    width: 30%;
    text-decoration: none;
}

.material4 .material4b a:hover {
    text-decoration: underline;
}

.material4 .material4b img {
    border-radius: 15px;
    margin-top: -1.3rem;
}

.materials .material3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}

.materials .material4 {
    padding-top: 0.5rem;
}

.search1 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search1 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
}

.search1 .site {
    font-size: 0.8rem;
}

.search1 .link a {
    text-decoration: none;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.search1 .link a:hover {
    text-decoration: underline;
}

.search1 .body p {
    font-size: 0.9rem;
    padding-bottom: 0.6rem;
    padding-top: 0.3rem;
}

.search1 .sub {
    display: flex;
    align-items: center;
    margin-bottom: rem;
}

.search1 .sub .sub2{
    padding-left: 10rem;
}

.search1 .sub1 a{
    text-decoration: none;
}

.search2 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search2 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search2 .site {
    font-size: 0.8rem;
}

.search2 .link a {
    text-decoration: none;
    font-size: 1..1rem;
    padding-bottom: 1rem;
}

.search2 .link a:hover {
    text-decoration: underline;
}

.search2 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search3 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search3 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search3 .site {
    font-size: 0.8rem;
}

.search3 .link a {
    text-decoration: none;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.search3 .link a:hover {
    text-decoration: underline;
}

.search3 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search4 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search4 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search4 .site {
    font-size: 0.8rem;
}

.search4 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search4 .link a:hover {
    text-decoration: underline;
}

.search4 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search5 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search5 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search5 .site {
    font-size: 0.8rem;
}

.search5 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search5 .link a:hover {
    text-decoration: underline;
}

.search5 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search6 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search6 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search6 .site {
    font-size: 0.8rem;
}

.search6 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search6 .link a:hover {
    text-decoration: underline;
}


.search6 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search6 .body {
    display: flex;
    align-items: center;
    padding-top: 0.3rem;
    justify-content: space-evenly;
}


.search7 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search7 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search7 .site {
    font-size: 0.8rem;
}

.search7 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search7 .link a:hover {
    text-decoration: underline;
}

.search7 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search8 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search8 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search8 .site {
    font-size: 0.8rem;
}

.search8 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search8 .link a:hover {
    text-decoration: underline;
}

.search8 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search9 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search9 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search9 .site {
    font-size: 0.8rem;
}

.search9 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search9 .link a:hover {
    text-decoration: underline;
}

.search9 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.search10 {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.657);
}

.search10 .site a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.657);
    padding-bottom: 1rem;
}

.search10 .site {
    font-size: 0.8rem;
}

.search10 .link a {
    text-decoration: none;
    font-size: 1.1rem;
}

.search10 .link a:hover {
    text-decoration: underline;
}

.search10 .body p {
    font-size: 0.9rem;
    padding-top: 0.3rem;
}

.main_body {
    display: flex;
}

.main_body .bodyA {
    margin-left: -5rem;
}

.main_body .bodyB {
    border-left: 1px solid rgba(0, 0, 0, 0.26);
    margin-left: 3rem;
    margin-right: 4rem;
    margin-bottom: 55rem;
    padding-left: 1rem;
    margin-top: 1.2rem;
}

.info h4 {
    font-weight: 300;
    font-size:1.2rem ;
    padding-bottom: 0.5rem;
}

.review button {
    align-items: center;
    border-radius: 20px;
    width: 100%;
    border: 1px solid black;
    padding: 0.3rem 0.7rem;
}

.review a {
    text-decoration: none;
    color: black;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding-bottom: 2rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.363) ;
}

.info p {
    padding-bottom: 0.5rem;
    color:rgba(0, 0, 0, 0.698) ;
    font-size: 0.9rem;
}

.info p a {
    text-decoration: none;
}

.stats a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    color: black;
}

.stats button {
    border-radius: 100px;
    margin-left: -1rem;
    padding: 0.1rem 0.3rem;
    color: none;
}

.psg a {
    text-decoration: none;
    color:black ;
    padding-bottom: 1.5rem;
}

table td {
    border-bottom:1px solid rgba(0, 0, 0, 0.363) ;
    padding-left: 1.5rem;
    width: 30%;
}

table th {
    padding-left: -10rem;
    font-weight: 100;
    font-size: 0.8rem;
}

.other1 {
    display: flex;
    padding-bottom: 1rem;
}

.other1 .img2 {
  margin-right: 0.9rem;  
}

.other1 .img4 {
    margin-left: 0.8rem;
}

.other1 img {
    border-radius: 7px;
}

.other1 a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.infob button {
    border-radius: 25px;
    widows: 80%;
    padding: 0.2rem 8rem;
    font-size: 0.9rem;
    background-color: none;
    border: none;
}

.people h4 {
    padding: 1rem 0;
    font-weight: 500;
    font-weight: 1.5rem;
}

.relate h3 {
    margin-left: 11rem;
    font-weight: 200;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.relate .option1 {
    margin-left: 11rem;
    display: flex;
    align-items: center;
    margin-right: 27rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.relate .option1 ul {
    list-style: none;
}

.option1 li a {
    text-decoration: none;
    color: black;
    padding-left: rem;
}

.option1 li a:hover {
    text-decoration: underline;
}

.option1 li button {
    padding: 0.3rem 2rem;
    border-radius: 30px;
    font-size: 1.1rem;
    width: 80%;
    margin-bottom:0.5rem ;
    border: none;
    font-weight: 700;
}

.option1 i {
    padding-right: 1rem;
}

.spell {
    display: flex;
    margin-left: 25rem;
    align-items: center;
}

.spell .G {
    color: rgba(0, 0, 255, 0.731);
    font-size: 2rem;
}

.spell .e {
    color: red;
    font-size: 1.5rem;
}

.spell .o {
    color: yellow;
    font-size: 1.5rem;
}

.spell .l {
    color: green;
    font-size: 1.5rem;
}

.color {
    display: flex;
    align-items: center;
    padding-bottom: 0.3rem;
}

.color i {
    color: blue;
    margin-left: 1.5rem;
}

.no {
    display: flex;
    align-items: center;
}

.no a {
    text-decoration: none;
    margin-left: 0.3rem;
    font-size: 0.8rem;
}

.no .no1 a {
    color: black;
}

.no a:hover {
    text-decoration: underline;
}

.color2 {
    display: flex;
    margin-left: 27rem;
    padding-bottom: 2rem;
}

.color2 p {
    margin-left: 3rem;
    color: blue;
    font-size: 0.8rem;
}

.location {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    background-color: rgba(0, 0, 255, 0.035);
    padding-left: 16rem;
}

.location .loc2 {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.loc2 i {
    color: blue;
    font-size: 0.5rem;
}

.loc2 p {
    font-weight: 500;
    font-size: 0.9rem;
}

.loc2 a {
    text-decoration: none;

}

.loc1 {
    padding-right: 1rem;
    border-right:1px solid rgba(0, 0, 0, 0.224) ;
    color: rgba(0, 0, 0, 0.407);
    font-size: 0.9rem;
}

.help {
    display: flex;
    align-items: center;
    padding-left: 15rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 255, 0.035);
}

.help a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.605);
    padding-left: 1.5rem;
    font-size: 0.8rem;
}