* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input_wrapper {
    display: flex;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.371);
    border-radius: 2rem ;
    justify-content: space-evenly;
    width: 50%;
    padding: 0.6rem;
    margin-right: 18rem;
}

.input_wrapper input {
    border: none;
    outline: none;
    border-radius: 0;
    margin-left: 1rem;
    font-size: 1rem;
    width: 70%;
}

.input_wrapper i {
    justify-content: space-evenly;
}

.input_wrapper button{
    border-radius: none;
    border: none;
    background: none;
    font-size: 1.2rem;
}

.left { 
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.left button i {
    font-size: 1.4rem;
    padding-right: 1rem;
}

.left button {
    border: none;
    border-radius: none;
    justify-self: space-evenly;
    background: none;
}

.left button:hover {
    background-color: rgba(128, 128, 128, 0.049);
    border-radius: 100px;
}

.google {
     width: 50%;
     justify-self: flex-start;
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1.5rem;
    overflow: hidden;
    top: 0;
}

.my_profile { 
    border-radius: 100px;
}

.subnav a {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.566);
    text-decoration: none;
    padding-left: 1rem;
}

.subnav a i {
    padding-right: 0.6rem;
}

.subnav {
    display: flex;
    align-items: center;
    padding-left: 15rem;
    margin-top:1rem ;
}

.subnav .one {
    text-decoration: underline;
    text-underline-offset: 5px ;
}

.search_time {
    margin-top: 1rem;
    padding-left:16rem ;
    color: rgba(0, 0, 0, 0.566);
    margin-bottom: 1.5rem;
}

.profile img {
    width: 40%;
    border-radius: 10px;
    
}

.profile button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.564);
}

.profile button {
    padding: 0.8rem 1.1rem;
    border-radius: 20px;
    margin-left: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.438);
}

.profile .part_3 {
    display: flex;
}

.profile { 
    display: flex;
    align-items: center;
    padding-left: 16rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    padding-bottom: 1rem;
}

.profile .part_2a {
    display: flex;
    padding-top: 1rem;
}

.profile .part_2a p {
    padding-right: 2rem;
}

.profile .part_2 h3{
font-weight: 100;
font-size: 1.5rem;
margin-top:-0.9rem;
}

.profile .part_2 {
    margin-left: -2.5rem;
} */